@media screen and (min-width: 320px) { 
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    @font-face {
       font-family: 'Courier New', Courier, monospace;
        src:url("Thewitcher-jnOj.ttf");
    }
    body{
        background-image: url("abstract-gradient-neon-lights.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    }
    main{
        width: 100wh;
        height: 100vh;
       
    }
    h1{
        margin: 10px auto;
    }
   }
   #global {
	color: antiquewhite;
	
	
    margin: auto;
    align-items: center;
   
}
#mensajes {
	height: auto;
    width: 350px;
    height: 200px;
   
}
.texto {
	padding:4px;
    display: block;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
}