@media screen and (min-width: 320px) { 
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    @font-face {
        src:url("./font/Thewitcher-jnOj.ttf");
       font-family: 'Gerald';
      
    }
    body{
        background-image: url("img/abstract-gradient-neon-lights.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        font-family: 'Gerald';
    }
    main{
        width: 100wh;
        height: 100vh;
       
    }
    h1{
       
    }
   }
   #global {
	color: antiquewhite;
    background-image: url("img/abstract-gradient-neon-lights.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	
	
    margin: auto;
    align-items: center;
   
}
#mensajes {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
  
   
}
.texto {
	padding:4px;
    display: block;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}
h1{
    font-size: 5em;
    margin: 50px auto;
}
p{
    font-size: 1em;
    line-height: 1.5;
}
figure {
    width: 100%;
    margin: 10px auto;
    border: 2px solid gray;
  border-radius: 20px;
    object-fit: cover;
    color: antiquewhite;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
figcaption{
  text-align: center;
}

img{
   width: 100%;
    border-radius: 20px;
}
