@media screen and (min-width: 320px) { 
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    @font-face {
        src:url("./font/Thewitcher-jnOj.ttf");
       font-family: 'Gerald';
      
    }
    body{
        background-image: url("img/abstract-gradient-neon-lights.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        font-family: 'Gerald';
    }
    main{
        width: 100wh;
        height: 100vh;
       
    }
    h1{
        margin: 50px auto;
    }
   }
   #global {
	color: antiquewhite;
	
	
    margin: auto;
    align-items: center;
   
}
#mensajes {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
  
   
}
.texto {
	padding:4px;
    display: block;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
}
.imagen{
    width: 90%;
}